.borderLeftRight {
    display: inline-block;
    position: relative;
    color: #474E51;
}

.borderLeftRight::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFB641;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    background-color: #FFB641;
}

.photo {
    align-content: center;
    width: 50%;
    height: 50%;
}

span.date {
    font-style: italic;
    font-size: 10px;
}

h4 strong {
    color: #FFB641;
}

textarea {
    border: 1px solid #FFB641;
    color: #FFB641;
}

.green-border-focus .form-control:focus {
    border: 1px solid #FFB641;
    box-shadow: 0 0 0 0.2rem rgba(218, 186, 56, .25);
}

.custom-file .btn, .btn-outline-warning {
    font-weight: bold;
    background-color: transparent;
    color: #FFB641;
!important;
    border-color: #FFB641;
!important;
}

button.btn.btn-outline-warning:hover {
    color: #1b1e21;
!important;
    background-color: #FFB641;
!important;
    border-color: #FFB641;
!important;
    font-weight: bold;
}
